/* From Uiverse.io by deamelo */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1,
.card2,
.card3,
.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
}

.card2 {
  border-radius: 5px 90px 5px 5px;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
}

.card4 {
  border-radius: 5px 5px 90px 5px;
}

.card-label {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  cursor: pointer;
  scale: 1.1;
  color: white;
}

.card1:hover {
  background-color: #00ff00;
}

.card2:hover {
  background-color: #0077b5;
}

.card3:hover {
  background-color: black;
}

.card4:hover {
  background-color: #8c9eff;
}
